<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>

  <%= f.label :name_or_author_name_cont,"Nome do Livro ou do Autor" %>
  <%= f.search_field :name_or_author_name_cont %>
  <%= f.submit %>
<% end %>

<h1>Livros</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Estoque</th>
      <th>Autor</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.stock %></td>
        <td><%= book.author.name %></td>
        <td><%= book.category.name %></td>
        <td><%= link_to 'Mostrar', book %></td>
        <td><%= link_to 'Editar', edit_book_path(book) %></td>
        <td><%= link_to 'Destruir', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo livro', new_book_path %>
