<p id="notice"><%= notice %></p>

<h1>Reservas</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Livro</th>
      <th>Bibliotecário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.client.name %></td>
        <td><%= reservation.book.name %></td>
        <td><%= reservation.librarian.email %></td>
        <td><%= link_to 'Mostrar', reservation %></td>
        <td><%= link_to 'Editar', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destruir', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Reserva', new_reservation_path %> <br/>
<%= link_to 'Voltar ao início', home_index_path %>
