<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @reservation.client.name %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @reservation.book.name %>
</p>

<p>
  <strong>Bibliotecário:</strong>
  <%= @reservation.librarian.email %>
</p>

<%= link_to 'Editar', edit_reservation_path(@reservation) %> |
<%= link_to 'Voltar às reservas', reservations_path %> |
<%= link_to 'Voltar ao início', home_index_path %>
