<p id="notice"><%= notice %></p>

<h1>Bibliotecários</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.email %></td>
        <td><%= link_to 'Mostrar', librarian %></td>
        <td><%= link_to 'Editar', edit_librarian_path(librarian) %></td>
        <td><%= link_to 'Destruir', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Bibliotecário', new_librarian_path %>
