<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Biblioteca </b></span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="hidden-md hidden-xs"><%= link_to "Autores",authors_path %></li>
        <li class="hidden-md hidden-xs"><%= link_to "Bibliotecários",librarians_path %></li>
        <li class="hidden-md hidden-xs"><%= link_to "Categorias",categories_path %></li>
        <li class="hidden-md hidden-xs"><%= link_to "Clientes",clients_path %></li>
        <li class="hidden-md hidden-xs"><%= link_to "Livros",books_path %></li>
        <li class="hidden-md hidden-xs"><%= link_to "Reservas",reservations_path %></li>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="/assets/user2-160x160.jpg" class="user-image" alt="User Image"/>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">Senhor Juvenal</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
